.header--about {
  @media (min-width: @desktop-width) {
    padding-bottom: 175px;
    background-image: url("../img/about/promo-background.png");
    background-size: cover;
    background-repeat: no-repeat;
  }
}

.header__logo-link {
  width: 130px;
  display: inline-block;

  @media (min-width: @tablet-width) {
    width: 350px;
  }
}
