.filter {
  .offset(0; 0);
}

.filter__title {
  .offset(16px 15px 17px 30px; 0);
  color: @white;
  background: linear-gradient(90.71deg, @blue6 0.7%, @blue9 100%);
  box-shadow: 0 24px 30px -17px @blue7;
  border-radius: 10px;
}

.filter__list {
  .offset(0; 0);
  list-style: none;
  background-color: @white2;
}
