.promo__about {
  @media (min-width: @desktop-width) {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
}

.promo__title--about {
  padding-right: 0;
  font-weight: 300;
  .typography(25px; 35px);
  color: @turquoise1;

  @media (min-width: @tablet-width) {
    .typography(45px; 55px);
  }

  @media (min-width: @desktop-width) {
    padding-right: 10px;
    margin-top: 28px;
  }
}

.promo__description--about {
  padding-right: 0;
  font-weight: 600;
  .typography(25px; 35px);

  @media (min-width: @tablet-width) {
    .typography(45px; 55px);
  }

  @media (min-width: @desktop-width) {
    padding-right: 70px;
  }
}

.promo__about-img-wrapper {
  max-width: 700px;
  margin: 0 auto 30px auto;

  @media (min-width: @tablet-width) {
    max-width: 1200px;
  }

  @media (min-width: @desktop-width) {
    position: absolute;
    top: 0;
    left: -230px;
    width: 100%;
    height: 1657px;
    padding-bottom: 175px;
    background-image: url("../img/about/promo-background.png");
    background-size: 1920px 1657px;
    background-repeat: no-repeat;
  }

  @media (min-width: @desktop-width-large) {
    left: -5px;
  }
}

.promo__img-about {
  @media (min-width: @tablet-width) {
    width: 100%;
    max-width: 1200px;
    max-height: 490px;
    object-fit: cover;
  }

  @media (min-width: @desktop-width) {
    display: none;
  }
}

.promo__list--about {
  margin-bottom: 0;

  @media (min-width: @desktop-width) {
    margin-top: 5px;
    margin-right: 60px;
    margin-bottom: 40px;
  }
}

.promo__item:last-child {
  @media (max-width: @mobile-width-only) {
    margin-bottom: 0;
  }
}
