.feature__inner {
  display: none;
}

.feature__inner--active {
  display: block;
}

.feature__inner--character {
  display: none;
}

.feature__inner--active.feature__inner--character {
  display: block;

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 664px));
    justify-content: center;
  }

  @media (min-width: @desktop-width) {
    column-gap: 32px;
  }
}

.feature__block {
  min-width: 300px;
  max-width: 664px;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    margin: 0 20px 30px 0;

    &:nth-child(even) {
      margin-right: 0;
    }
  }
}

.feature__block:nth-child(3) {
  @media (min-width: @desktop-width) {
    margin-top: -120px;
  }
}

.feature__block:nth-child(2n+5) {
  @media (min-width: @desktop-width) {
    margin-top: -80px;
  }
}

.feature__block:nth-last-child(-n+1) {
  margin-bottom: 0;
}

.feature__title {
  .offset(16px 15px 17px 30px; 0);
  .typography(16px; 20px);
  color: @white;
  background: linear-gradient(90.71deg, @blue6 0.7%, @blue9 100%);
  box-shadow: 0 24px 30px -17px @blue7;
  border-radius: 10px;

  @media (min-width: @tablet-width) {
    .typography(20px; 24px);
  }
}

.feature__list {
  display: flex;
  flex-wrap: wrap;
  .offset(15px 16px 15px 15px; 0);
  list-style: none;
  background-color: @white2;
  border-radius: 10px;

  @media (min-width: @tablet-width) {
    padding: 30px 31px 30px 30px;
  }
}

.feature__item {
  min-width: 268px;
  max-width: 268px;
  margin-right: auto;
  margin-bottom: 25px;

  @media (min-width: @tablet-width) {
    margin-right: 45px;

    &:nth-child(even) {
      margin-right: 0;
    }

    &:nth-last-child(-n+2) {
      margin-bottom: 0;
    }
  }
}

.feature__text {
  .typography(14px; 17px);

  @media (min-width: @tablet-width) {
    .typography(16px; 19px);
  }
}

.feature__text--title {
  margin-right: 4px;
  font-weight: 600;
}

.feature__item-text {
  .offset(0; 0);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  column-gap: 30px;
  row-gap: 20px;

  @media (min-width: @tablet-width) {
    grid-template-columns: 1fr 1fr;
    column-gap: 34px;
    row-gap: 0;
    padding: 29px 30px 34px 30px;
  }
}

.feature__description {
  .offset(0; 0);
  .typography(14px; 20px);

  @media (min-width: @tablet-width) {
    .typography(16px; 24px);
  }
}
