.header {
  position: relative;
  .offset(20px 0 40px 0; 0 0 40px);
  background: linear-gradient(180deg, @lightblue 90.68%, @white6 100%);
  z-index: 2;

  @media (min-width: @desktop-width) {
    padding: 29px 0 181px 0;
  }
}

.header__wrapper {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 40px;

  @media (min-width: @tablet-width) {
    flex-direction: row;
    margin-bottom: 88px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 60px;
  }
}

.header__logo {
  order: 1;

  @media (min-width: @desktop-width) {
    width: 351px;
    height: 55px;
  }
}

.header__logo-link {
  display: inline-block;
}

@media (max-width: @mobile-width-only) {
  .header__logo-sticky {
    position: fixed;
    top: 10px;
    z-index: 50;
    background-color: @white;
  }
}
