.header {
  position: relative;
  .offset(20px 0 40px 0; 0);
  background: linear-gradient(180deg, @lightblue 90.68%, @white6 100%);
  z-index: 1;

  @media (min-width: @desktop-width) {
    &::before {
      content: "";
      position: absolute;
      top: 0;
      right: -280px;
      width: 100%;
      height: 100%;
      background-image: url("../img/tablet-img/promo-background.png");
      background-size: 724px 994px;
      background-repeat: no-repeat;
      background-position: right top;
      z-index: -1;
    }
  }
}

.header__wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;

  @media (min-width: @tablet-width) {
    flex-direction: row;
    margin-bottom: 88px;
  }
}

.header__logo {
  order: 1;

  @media (min-width: @desktop-width) {
    width: 351px;
    height: 55px;
  }
}
