.header {
  position: relative;
  .offset(20px 0 40px 0; 0);
  background: linear-gradient(180deg, @lightblue 90.68%, @white6 100%);
  z-index: 2;

  @media (min-width: @desktop-width) {
    padding: 29px 0 83px 0;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      right: -280px;
      width: 100%;
      height: 100%;
      background-image: url("../img/desktop-img/promo-background.png");
      background-size: 1271px 994px;
      background-repeat: no-repeat;
      background-position: 57% top;
      z-index: -1;
    }
  }
}

.header__wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;

  @media (min-width: @tablet-width) {
    flex-direction: row;
    margin-bottom: 88px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 60px;
  }
}

.header__logo {
  order: 1;

  @media (min-width: @desktop-width) {
    width: 351px;
    height: 55px;
  }
}

@media (max-width: @mobile-width-only) {
  .header__logo-sticky {
    position: fixed;
    top: 10px;
    z-index: 50;
    background-color: @white;
  }
}
